<div class="container">
  <mat-card>
    <mat-card-content>
      <form fxLayout="row" fxLayoutAlign="end start" (ngSubmit)="onSearchCharactor()">
        <mat-form-field appearance="outline">
          <mat-label>Search Name</mat-label>
          <input matInput placeholder="Search Name" value="" [formControl]="searchKey">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form>

      <!-- a list of characters -->
      <div fxLayout="row wrap" class="character_container">
        <mat-card fxFlex="100%" fxFlex.sm="0 1 calc(50% - 16px)" fxFlex.md="0 1 calc(25% - 16px)"
          fxFlex.lg="0 1 calc(16.6666% - 16px)" fxFlex.gt-lg="0 1 calc(10% - 16px)"
          *ngFor="let c of characters$ | async" class="character_card">
          <a [routerLink]="'/character/' + c.id" target="_blank">
            <img class="character_avatar" [src]="c.thumbnail.path + '.' + c.thumbnail.extension" [alt]="c.name">
            <p class="character_name">
              {{c.name}}
            </p>
          </a>
        </mat-card>
      </div>

      <div *ngIf="!(characters$ | async) || (characters$ | async)?.length === 0">
        <p class='mat-h1' style="text-align: center">
          No Results
        </p>
      </div>

      <!-- Paginator -->
      <mat-paginator [length]="pageLength$ | async" [pageSize]="20" [pageSizeOptions]="[20, 50]" showFirstLastButtons
        aria-label="Select page" (page)="onChangePage()">
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>